pip==18.1
argcomplete==1.9.3
attrs==19.3.0
awscli==1.16.296
boto3==1.10.12
botocore==1.13.32
certifi==2019.9.11
cfn-flip==1.2.2
chardet==3.0.4
Click==7.0
clickclick==1.2.2
colorama==0.4.1
connexion==2.4.0
docutils==0.15.2
durationpy==0.5
Flask==1.1.1
Flask-Cors==3.0.8
future==0.16.0
hjson==3.0.1
idna==2.8
importlib-metadata==0.23
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.3
jsonschema==3.1.1
kappa==0.6.0
lambda-packages==0.20.0
MarkupSafe==1.1.1
more-itertools==7.2.0
numpy==1.17.3
openapi-spec-validator==0.2.8
placebo==0.9.0
pyasn1==0.4.8
pyrsistent==0.15.5
python-dateutil==2.6.1
python-slugify==1.2.4
pytorch-pretrained-bert==0.6.2
PyYAML==5.1.2
regex==2019.11.1
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
six==1.13.0
swagger-ui-bundle==0.0.6
toml==0.10.0
torch==1.0.1
tqdm==4.19.1
troposphere==2.5.2
Unidecode==1.1.1
urllib3==1.25.6
Werkzeug==0.16.0
wsgi-request-logger==0.4.6
zappa==0.48.2
zipp==0.6.0
